.welcome {
	display: inline-block;
	@include responsive(height, 700px, 600px, 300px);
	width: 100%;
	background: url(../img/header-bg.jpg) center center;
	background-size: cover;
	background-attachment: scroll;
	@include bp(large-only) {
	background-attachment: fixed;
	}
	.welcome-pokemon {
		color: white;
		text-align: center;
		font-family: minijianlinxin502249;
		@include responsive(margin-top, 200px, 180px, 80px);
		@include responsive(font-size, 100px, 70px, 40px);
		position: relative;
		z-index: 2;
		span {
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			// @include juice-prefixer(transform, translate(-50%,0), webkit moz ms o spec);
			@include juice-prefixer(transition, all 1s, webkit moz ms o spec);
		}
		span.welcome-loaded {
			@include juice-prefixer(transform, translate(0,80%), webkit moz ms o spec);
		}
	}
}